@import "gridlex.less";
@import "colors.less";

* {
    box-sizing: border-box;
    position: relative;
}

*:focus {
    outline: none;
}

.fixed-height(@size) {
    height: @size;
    line-height: @size;
}

.mono-font(@size) {
    font-family: "Source Code Pro", monospace;
    font-size: @size;
}

.btn-proto(@color, @desat) {
    .fixed-height(2rem);
    padding: 0 1rem;
    border: none;
    background-color: lighten(desaturate(@color, @desat), 30%);
    color: black;
    .mono-font(0.8rem);
    &:hover {
        background-color: @color;
        &:after {
            content: "";
            height: 0.2rem;
            width: 100%;
            display: block;
            background-color: desaturate(@color, @desat);
            position: absolute;
            left: 0;
            bottom: -0.1rem;
        }
    }
    &:active:after {
        height: 0.1rem;
    }
}
.btn-defl {
    .btn-proto(@blue, 50%);
}
.btn-warn {
    .btn-proto(@yellow, 15%);
}
.btn-succ {
    .btn-proto(@green, 20%);
}
.btn-harz {
    .btn-proto(@orange, 30%);
}

input[type="text"] {
    .fixed-height(2rem);
    width: 100%;
    padding: 0 0.5rem;
    border: solid 0.15rem @blue;
    background-color: white;
    display: block;
    &:read-write:focus {
        border-color: transparent;
        color: white;
        background-color: @gray;
        transition: background-color 0.05s linear, border-color 0.05s linear;
    }
}
